body {
  /* position: relative; */
}
.id {
  background-color: black;
}
.container {
  background-color: chartreuse;
  height: 700px;
  width: 700px;
  position: relative;
  left: 350px;
  padding: 40px;
  border-radius: 20px;
}

#todo-input {
  width: 400px;
  height: 30px;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px;
  align-items: center;
}
#add-todo {
  height: 50px;
  width: 100px;
  background-color: black;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 20px;
}
#todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
/* #todo-list {
  height: 500px;
  width: 500px;
  background-color: blue;
} */
.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 20px;
  padding: 20px;
  position: relative;
  width: 500px;
  height: 30px;
  font-size: 20px;
  background-color: rgb(104, 102, 102);
  border-radius: 20px;
  color: white;
  flex: 1;
}
.remove {
  height: 50px;
  width: 100px;
  background-color: black;
  color: whitesmoke;
  cursor: pointer;
  position: absolute;
  left: 300px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.edit {
  height: 50px;
  width: 100px;
  background-color: black;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 50px;
}
.myBtn {
  font-size: 17px;
  padding: 15 20px;
  border: none;
  border-radius: 10px;
}
